.wrapperDark,
.wrapperLight {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    height: 5vh;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 200px 400px;
    gap: 20px;
}

.wrapperDark {
    background-color: #b9b9b9;
}

.wrapperLight {
    background-color: #888888;
}

.logo {
    margin: auto;
}