.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    display: block;
    padding: 10px;
    line-height: 1;
    border-radius: 300px;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

.Middle {
    margin: 0 auto;
}

.Main {
    background-color: #009b00;
    min-width: 200px;
    margin: 20px;
}

.Main:hover {
    transform: translate(0,-1px);
    background-color: #00d300;
}

.Main:active {
    transform: translate(0,0);
}

.Danger {
    background-color: #7a1111;
}

.Danger:hover {
    background-color: #ff0000;
}

.Auth {
    background-color: #1e11dd;
}

.Auth:hover {
    background-color: #1100fd;
}

.Button:disabled {
    background-color: #D9E2EC;
    color: #9FB3C8;
    cursor: not-allowed;
}