.Modal {
    position: fixed;
    transition: all 0.3s ease-out;
    z-index: 1000;
    box-shadow: 0 1px 5px hsla(0, 0%, 0%, .2);
    border-radius: 2px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: #aaa;
    opacity: .75;
}

.Center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
