.wrapper {
    background-color: #3e3e3e;
    position: relative;
}

.wrapperdark {
    background-color: #303030;
    position: relative;
}

.wrapperlight {
    background-color: #ebebeb;
    position: relative;
}

.row {
    display: flex;
}

.cell,
.cellSnake,
.cellFood,
.cellBarrier {
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
}

.celllight,
.cellSnakelight,
.cellFoodlight,
.cellBarrierlight {
    width: 15px;
    height: 15px;
    border: 1px dotted #696969;
}

.celldark,
.cellSnakedark,
.cellFooddark,
.cellBarrierdark {
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
}

.cellSnake{
    background-color: white;
}
.cellSnakelight{
    background-color: #666666;
}
.cellSnakedark{
    background-color: white;
}
.cellFoodlight,
.cellFooddark {
    background-color: #3dca12;
}
.cellBarrierlight,
.cellBarrierdark {
    background-color: #193cd8;
}

.finalMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #fff;
    color: #5db900;
    z-index: 100;
    font-weight: bold;
}