.wrapperDark,
.wrapperLight {
    margin-top: 5vh;
    min-height: 95vh;
}

.wrapperDark {
    background-color: #282c34;
    color: white;
}

.wrapperLight {
    background-color: #a7b5d1;
    color: black;
}